body {
    background: none;
    margin: 0;
}

.box {
    color: black;
}

.boxcl {
    max-height: 50px;   height: 50%;
}

.admin {
    display: flex;
    height: 10%;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
}

.header {
    display: flex;
}

#admin {
    border-radius: 50px;
    width: 5%;
}

.container {
    display: flex;
    height: 100%;
    padding: 100px 20px 20px 20px;
}

.box {
    background-color: #f4f2f2;
    display: grid;
    width: 100%;
    height: 100%;
    padding: 25px 85px 100px 0px;
}

.market {
    border-bottom: 1px solid black;
    font-family: sans-serif;
    font-size: x-large;
    height: 8%;
    padding: 10px 0px 0px 10px;
}

.marketbox {
    background-color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: 6%;
    width: 95%;
}

.marketbox:nth-child(2n) {
    justify-content: end;
}

.input1 {
    font-family: "Poppins", sans-serif;
    display: grid;
    align-items: center;
    font-size: 100%;
    margin: 2%;
    height: 100%;
}

.input2 {
    display: grid;
    align-items: center;
    font-size: 100%;
    margin: 2%;
    width: 50%;
    height: 107%;
}
.input3 {
    font-family: "Poppins", sans-serif;
    display: grid;
    align-items: center;
    font-size: 100%;
    margin: 2%;
    height: 100%;
}

.input4 {
    display: grid;
    align-items: center;
    font-size: 100%;
    margin: 2%;
    width: 50%;
    height: 107%;
}

.btn input {
    background-color: #f29f22;
    border: none;
    border-radius: 2px;
    color: #fff;
    width: 10%;
    height: 35%;
    margin: 3% 1%;
    font-size: large;
    cursor: pointer;
    margin-top: 70px;
}

.btn {
    display: grid;
    padding: 0px 0px 0px 35px;
}

#select {
    border: none;
}

.box1 {
    display: flex;
    padding: 0px 0px 0px 35px;
}

.left {
    width: 50%;
    display: flex;
    gap: 10%;
}

.right {
    width: 50%;
    display: flex;
    gap: 10%;
   
}

#last {
    height: 50%;
}

#box {
    max-height: 50px;   height: 50%;
}

/* 950 */

@media (max-width: 950px) {
    .marketbox {
        max-width: 400px;
    }

    .box1 {
        margin-top: 20px;
    }

    .admin {
        display: flex;
        height: 10%;
        justify-content: flex-end;
        padding-right: 15px;
        align-items: center;
    }

    .input1 {
        font-family: "Poppins", sans-serif;
        display: grid;
        align-items: center;
        font-size: 100%;
        margin: 0;
        height: 110%;
    }

    .input2 {
        display: grid;
        align-items: center;
        font-size: 100%;
        margin: 0;
        width: 50%;
        height: 100%;
    }

    .left {
        width: 50%;
        margin: 0;
    }
    .right {
        width: 50%;
        margin: 0;
    }

    .left,
    .right {
        gap: 1%;
    }

    .marketbox {
        max-width: 800px;
        height: 100%;
    }

    .market {
        border-bottom: 1px solid black;
        font-family: sans-serif;
        font-size: x-large;
        height: 6%;
        padding: 7px 0px 0px 10px;
    }

    .marketbox:nth-child(2n)::-webkit-scrollbar {
        width: 0%;
    }
    .btn input {
        background-color: #f29f22;
        border: none;
        border-radius: 2px;
        color: #fff;
        width: 12%;
        height: 50%;
        margin: 3% 1%;
        font-size: large;
        cursor: pointer;
    }

    .box {
        background-color: #f4f2f2;
        display: grid;
        width: 100%;
        height: 100%;
        padding: 25px 40px 0px 25px;
    }
}

/* 800 media quary */

@media (max-width: 800px) {
    .marketbox {
        max-width: 400px;
    }

    .left {
        width: 50%;
    }
    .right {
        width: 50%;
        margin: 0;
    }

    .left,
    .right {
        gap: 1px;
    }

    .input1 {
        font-family: "Poppins", sans-serif;
        display: grid;
        align-items: center;
        font-size: 76%;
        height: 100%;
        margin: 0;
    }

    .input3 {
        font-family: "Poppins", sans-serif;
        display: grid;
        align-items: center;
        font-size: 79%;
        height: 86%;
    }

    .box {
        background-color: #f4f2f2;
        display: grid;
        width: 100%;
        height: 100%;
        padding: 25px 75px 0px 0px;
    }

    .box1 {
        margin-top: 80px;
    }

    .market {
        border-bottom: 1px solid black;
        font-family: sans-serif;
        font-size: xx-large;
        height: 7%;
        padding: 12px 0px 0px 9px;
    }

    .marketbox {
        max-width: 800px;
        height: 100%;
        width: 102%;
    }

    .marketbox:nth-child(2n)::-webkit-scrollbar {
        width: 0%;
    }

    .btn input {
        background-color: #f29f22;
        border: none;
        border-radius: 2px;
        color: #fff;
        width: 15%;
        height: 50%;
        margin: 3% 1%;
        font-size: large;
        cursor: pointer;
    }
}

/* 700 media quary */

@media (max-width: 700px) {
    .marketbox {
        max-width: 400px;
    }

    .input3 {
        font-family: "Poppins", sans-serif;
        display: grid;
        align-items: center;
        font-size: 70%;
        height: 85%;
        width: 17%;
    }

    .left {
        width: 50%;
    }
    .right {
        place-content: space-evenly;
    }

    .left,
    .right {
        width: auto;
    }

    .marketbox {
        max-width: 800px;
        height: 100%;
    }

    .market {
        border-bottom: 1px solid black;
        font-family: sans-serif;
        font-size: xx-large;
        height: 9%;
        display: flex;
        align-items: self-end;
        padding: 0px 0px 0px 7px;
    }

    .marketbox:nth-child(2n)::-webkit-scrollbar {
        width: 0%;
    }
    .box1 {
        margin-top: 80px;
    }
    .btn input {
        background-color: #f29f22;
        border: none;
        border-radius: 2px;
        color: #fff;
        width: 15%;
        height: 52%;
        margin: 3% 1%;
        font-size: large;
        cursor: pointer;
    }
}

/* 600 media quary  */

@media (max-width: 600px) {
    .marketbox {
        max-width: 400px;
    }

    .left {
        width: 50%;
    }
    .right {
        width: 50%;
    }

    .left,
    .right {
        gap: 1%;
    }

    .marketbox {
        max-width: 800px;
        height: 100%;
    }

    .market {
        border-bottom: 1px solid black;
        font-family: sans-serif;
        font-size: x-large;
        height: 4%;
        padding: 7px 0px 0px 3px;
    }

    .marketbox:nth-child(2n)::-webkit-scrollbar {
        width: 0%;
    }
    .box1 {
        max-width: 800;
        display: inline-flex;
    }
    .btn input {
        background-color: #f29f22;
        border: none;
        border-radius: 2px;
        color: #fff;
        width: 20%;
        height: 60%;
        margin: 3% 1%;
        font-size: large;
        cursor: pointer;
    }
}

/* 660 media quary  */

@media (max-width: 660px) {
    .marketbox {
        max-width: 250px;
    }

    .left {
        width: 50%;
    }
    .right {
        width: 50%;
    }

    .left,
    .right {
        gap: 11%;
    }

    .marketbox {
        max-width: 800px;
        height: 100%;
        width: 101%;
    }

    .marketbox:nth-child(2n)::-webkit-scrollbar {
        width: 0%;
    }
    .box1 {
        max-width: 800;
        display: grid;
        justify-content: center;
    }

    .input3 {
        font-family: "Poppins", sans-serif;
        display: grid;
        align-items: center;
        font-size: 70%;
        height: 85%;
        width: 50%;
    }

    .input4 {
        display: grid;
        align-items: center;
        font-size: 100%;
        height: 100%;
        width: 50%;
    }

    .btn {
        display: grid;
        padding: 18px 0px 0px 43px;
        justify-content: center;
    }

    .btn input {
        background-color: #f29f22;
        border: none;
        border-radius: 2px;
        color: #fff;
        width: 100%;
        height: 100%;
        margin: 3% 1%;
        font-size: large;
        cursor: pointer;
    }

    .admin {
        display: flex;
        height: 10%;
        justify-content: flex-end;
        padding-right: 20px;
        align-items: center;
    }

    .market {
        border-bottom: 1px solid black;
        font-family: sans-serif;
        font-size: xx-large;
        height: 7%;
        padding: 7px 0px 0px 10px;
    }
}

/* 550 media quary  */

@media (max-width: 550px) {
    .marketbox {
        max-width: 400px;
    }

    .admin {
        display: flex;
        height: 10%;
        justify-content: flex-end;
        padding-right: 20px;
        align-items: center;
    }

    .btn {
        display: grid;
        padding: 18px 0px 0px 35px;
        justify-content: center;
    }

    .left {
        width: 50%;
    }
    .right {
        width: 40%;
        margin: 0;
    }

    .input1 {
        font-family: "Poppins", sans-serif;
        display: grid;
        align-items: center;
        font-size: 76%;
        height: 100%;
        margin: 0;
    }

    .input3 {
        font-family: "Poppins", sans-serif;
        display: grid;
        justify-content: center;
        font-size: 79%;
        height: 86%;
    }

    .input4 {
        display: grid;
        align-items: center;
        font-size: 100%;
        height: 100%;
        width: 34%;
    }

    .box {
        background-color: #f4f2f2;
        display: grid;
        width: 100%;
        height: 100%;
        padding: 25px 75px 0px 0px;
    }

    .box1 {
        margin-top: 60px;
        display: grid;
        justify-content: center;
    }

    .market {
        border-bottom: 1px solid black;
        font-family: sans-serif;
        font-size: xx-large;
        height: 7%;
        padding: 12px 0px 0px 9px;
    }

    .marketbox {
        max-width: 800px;
        height: 100%;
        width: 102%;
    }

    .marketbox:nth-child(2n)::-webkit-scrollbar {
        width: 0%;
    }

    .btn input {
        background-color: #f29f22;
        border: none;
        border-radius: 2px;
        color: #fff;
        width: 100%;
        height: 100%;
        margin: 5% 2%;
        font-size: large;
        cursor: pointer;
    }
}
/* 376 media */

@media (max-width: 376px) {
    .marketbox {
        max-width: 250px;
    }

    .left {
        width: 50%;
    }
    .right {
        width: 50%;
    }

    .left,
    .right {
        gap: 4%;
    }

    .marketbox {
        max-width: 800px;
        height: 100%;
        width: 112%;
    }

    .input4 {
        display: grid;
        align-items: center;
        font-size: 100%;
        height: 100%;
        width: 50%;
    }

    .marketbox:nth-child(2n)::-webkit-scrollbar {
        width: 0%;
    }
    .box1 {
        max-width: 800;
        display: grid;
    }

    .btn {
        display: grid;
        padding: 20px 0px 0px 35px;
        justify-content: center;
    }

    .btn input {
        background-color: #f29f22;
        border: none;
        border-radius: 2px;
        color: #fff;
        width: 100%;
        height: 100%;
        margin: 3% 1%;
        font-size: large;
        cursor: pointer;
    }

    .admin {
        display: flex;
        height: 10%;
        justify-content: flex-end;
        padding-right: 20px;
        align-items: center;
    }

    .market {
        border-bottom: 1px solid black;
        font-family: sans-serif;
        font-size: x-large;
        height: 5%;
        padding: 13px 0px 0px 10px;
    }
}

/* Burger Menu */

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    left: 0 !important;
}

.menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: 0.25s;
}

.menu__btn > span::before {
    content: "";
    top: -8px;
}

.menu__btn > span::after {
    content: "";
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 50px 0;
    list-style: none;
    background-color: #fff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li:hover a {
    color: #3579de;
    background-color: #fff;
}

.menu__item {
    display: block;
    padding: 0px 24px;
    color: #333;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-decoration: none;
    transition-duration: 0.25s;
    padding-top: 15%;
}

.menu__item:hover {
    background-color: #ffffff;
}

i {
    padding-right: 10px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 0; /* Start with zero width */
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: -1; /* Ensure the overlay is above other elements */
    transition: width 0.3s ease; /* Smooth transition for width */
}

.hamburger-menu {
    position: fixed;
    z-index: 0; /* Ensure the menu is above the overlay */
    /* Your existing styles for the hamburger-menu */
}

.overlay-visible .overlay {
    display: block;
    width: 100%; /* Expand the width to 75% when visible */
}
.logo_box {
    position: relative;
    left: 15px;
    max-width: 250px;
    width: 100%;
}

